# OpenSSL configuration to generate a new key with signing requst for a x509v3
# multidomain certificate
# openssl req -config bla.cnf -new | tee csr.pem
#
# or
# openssl req -config bla.cnf -new -out csr.pem
[ req ]
default_bits       = 2048
default_md         = sha256
default_keyfile    = private.key
prompt             = no
encrypt_key        = no

# base request
distinguished_name = req_distinguished_name

# extensions
req_extensions     = v3_req

# distinguished_name
[ req_distinguished_name ]
countryName            = "NL"
stateOrProvinceName    = "UtrechtNL"
localityName           = "Utrecht"
organizationName       = "Oracle"
organizationalUnitName = "Consulting"
commonName             = "kube-apiserver"

# req_extensions
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 = kubernetes.default.svc.cluster.local
IP.1 = 10.96.0.1
IP.2 = 172.17.0.87
